html,
body {
  overflow-x: hidden;
  margin: 0;
  background-color: black;
}
/* .mobile-submenu {
  list-style: none;
  padding-left: 0;
  margin: 0;
  background: #111;
}

.mobile-submenu li {
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.mobile-submenu .nav-link {
  font-size: 14px;
  color: #ccc !important;
}

.mobile-submenu .nav-link:hover {
  color: #ffc107 !important;
} */
body:not(.admin-page) {
  padding-top: 90px;
}
.navbar-logo {
  height: 200px;
  margin-top: -100px;
  object-fit: contain;
  position: absolute;
  left: 120px;
}

/* MOBILE OFFCANVAS LOGO */
.mobile-navbar-logo {
  height: 160px;
  object-fit: contain;
  position: static;
  margin-top: -60px;
  /* margin-left: 70px; */
}
.mobile-menu-btn {
  background: transparent;
  border: none;
  font-size: 26px;
  color: #ffc107;
}

/* Mobile logo fix */
@media (max-width: 768px) {
  .navbar-logo {
    /* height: 0px; */
    margin-top: 0;
    position: static;
  }
}
.navbar-wrapper {
  height: 80px;
  background: #000;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  display: flex;
  align-items: center;
}

.nav-link {
  color: #ccc !important;
  transition: 0.3s;
}

.nav-link:hover {
  color: #ffc107 !important;
}
.user-dropdown {
  position: relative;
}
.dropdown-menu-custom {
  position: absolute;
  top: 120%;
  right: 0;
  width: 230px;
  background: #111;
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.25s ease;
  z-index: 1000;
}

.user-dropdown:hover .dropdown-menu-custom {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.user-info {
  display: flex;
  gap: 10px;
  padding: 12px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.avatar {
  width: 35px;
  height: 35px;
  background: #ffc107;
  color: #000;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ITEMS */
.dropdown-item-custom {
  width: 100%;
  padding: 10px 15px;
  color: #fff;
  background: transparent;
  border: none;
  text-align: left;
  display: flex;
  gap: 10px;
  transition: 0.2s;
}

.dropdown-item-custom:hover {
  background: #222;
}

.logout {
  color: #ff4c4c;
}

.cool-link {
  position: relative;
  color: white;
  display: inline-block;
}

.cool-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background: #ffc107;
  transition: width 0.3s ease;
}

.nav-link.cool-link:hover {
  color: #d6a71b !important;
}

.cool-link:hover::after {
  width: 100%;
  background: #e25205;
}

.cool-link:visited,
.cool-link:active,
.cool-link:focus {
  color: white !important;
}

.cool-link.active {
  color: #ffc107 !important;
}

.cool-link.active::after {
  width: 100%;
}

.social-icons {
  transition: transform 0.3s ease, color 0.3s ease;
  font-size: 14px !important;
  display: flex !important;
  align-items: center !important;
  color: white !important;
}

.social-icons:hover {
  color: #ffc107 !important;
}

input::placeholder,
textarea::placeholder {
  color: white !important;
  opacity: 1 !important;
}

input.bg-light::placeholder,
textarea.bg-light::placeholder {
  color: black !important;
}

input:focus,
textarea:focus {
  outline: none;
}
/* 
.nav-item.dropdown {
  position: relative;
}

.nav-item.dropdown .dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  margin-top: 6px;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu .dropdown-item:hover {
  background-color: rgb(38, 37, 37) !important;
  color: white !important;
} */

.tooltip-inner {
  background-color: white !important;
  color: black !important;

  font-weight: 400;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.tooltip-arrow::before {
  border-top-color: white !important;
}

@keyframes brandEntrance {
  0% {
    transform: scale(0.2) translateY(-20px);
    opacity: 0;
    letter-spacing: 8px;
  }

  60% {
    transform: scale(1.15) translateY(6px);
    opacity: 1;
  }

  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
.user-profile {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 8px;
  background: linear-gradient(to bottom right, #1d7684 0%, rgba(46, 142, 255, 0) 30%);
  background-color: rgba(91, 99, 108, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

.user-profile:hover,
.user-profile:focus {
  background-color: rgba(238, 232, 232, 0.323);
  box-shadow: 0 0 10px rgba(46, 142, 255, 0.5);
  outline: none;
}
.user-profile-inner {
  background-color: black;
  color: #fff;
  font-weight: 600;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-height: 35px;
  width: 100%;
}

select option {
  color: white !important;
  background-color: #444444ff !important;
}

body.modal-open {
  padding-right: 0 !important;
}

/* For Our sercvice home page card */
.services-section {
  background: rgba(7, 5, 5, 0.97);
  padding: 20px 0;
  text-align: center;
}

.service-main-title {
  color: white !important;
  margin-bottom: 40px;
  font-weight: 800;
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.service-card {
  width: 260px;
  /* background:black; */
  border-radius: 18px;
  text-decoration: none !important;
  padding-bottom: 15px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, .12);
  transition: .35s;
}

.service-title {
  font-size: 18px;
  font-weight: 600;
  color: #b7b5ae;
  padding: 12px 0;
  text-transform: capitalize;
  /* background:black; */
  border-bottom: 1px solid rgba(235, 221, 221, 0.345);
}

.img-box {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  /* background:black; */
}

.service-img {
  width: 85%;
  height: 170px;
  object-fit: cover;
  border-radius: 14px;
  transition: .35s;
}

.service-card:hover {
  transform: translateY(-10px) scale(1.04);
  box-shadow: 0px 0px 30px rgba(168, 60, 60, 0.359);
  border-color: rgb(161, 70, 70);
}

.service-card:hover .service-img {
  transform: scale(1.0);
}

.blog-card {
  /* background: black; */
  border-radius: 13px;
  border: 1px solid rgba(255, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: 0.35s ease;
}

.blog-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 18px;
  padding: 1px;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0.35;
  pointer-events: none;
}

.blog-card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 0 22px rgba(255, 89, 0, 0.305);
}

/* IMAGE + BADGE */
.blog-image-wrapper {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.blog-image-wrapper img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  display: block;
}

.double-like-heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 80px;
  color: #ff2d55;
  opacity: 0;
  pointer-events: none;
  animation: heartZoom 0.8s ease-in-out forwards;
  text-shadow: 0 0 25px rgba(255, 45, 85, 0.8);
}

@keyframes heartZoom {
  0% {
    transform: translate(-50%, -50%) scale(0.3);
    opacity: 0;
  }

  30% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }

  60% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.4);
    opacity: 0;
  }
}

.like-btn {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  color: white;
}

.like-btn i {
  font-size: 20px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.like-btn.liked i {
  color: #ff2d55;
  animation: heartPop 0.35s ease-in-out;
  text-shadow: 0 0 10px rgba(255, 45, 85, 0.6);
}

/* animation */
@keyframes heartPop {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

/* hover luxury feel */
.like-btn:hover i {
  transform: scale(1.1);
}

.badge-on-image {
  position: absolute;
  top: 7px;
  left: 7px;
  background: #ff6600;
  color: #000;
  padding: 1px 8px;
  border-radius: 11px;
  font-size: 12px;
  font-weight: 700;
  z-index: 5;
}

/* CONTENT WRAPPER */
.blog-content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 1.5rem;
}

/* META ABOVE TITLE */
.blog-meta-inline {
  display: flex;
  gap: 12px;
  opacity: 0.6;
  font-size: 13px;
  color: #ccc;
  margin-bottom: 5px;
}

/* TITLE */
.blog-title {
  font: 600 22px 'Barlow Condensed', sans-serif;
  /* margin: 10px ; */
  margin-top: 25px;
  margin-bottom: 25px;
}

.blog-actions {
  display: flex;
  gap: 6px;
  margin-top: auto;
}

.blog-actions .btn:first-child {
  /* flex: 0.5 0.5 auto; */
  flex: 1 auto;
}

.blog-actions .share-btn {
  flex: 0 0 40px;
}

/*END: For a view particular blog */
.back-arrow {
  position: absolute;
  top: 1px;
  right: 20px;
  font-size: 32px;
  color: #ffcc00;
  z-index: 999;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.back-arrow:hover {
  transform: translateX(-11px);
  opacity: 0.8;
}
.empty-icon {
  font-size: 60px;
  color: #ff6600;
  animation: pulseGlow 1.6s infinite ease-in-out;
}

.empty-text {
  color: #bbbbbb;
  font-size: 16px;
  margin-bottom: 25px;
}

/* Animations */
@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulseGlow {

  0%,
  100% {
    opacity: 0.6;
    text-shadow: 0 0 8px red;
  }

  50% {
    opacity: 1;
    text-shadow: 0 0 16px red;
  }
}

/* For heading first red and white combination text */
.section-title {
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  margin: 0;
}

.section-title-large {
  font-size: 40px;
}

.section-title-small {
  font-size: 30px;
}

.first-letter {
  color: red;
}

.mega-dropdown span.nav-link {
  cursor: pointer;
  position: relative;
}

.mega-menu {
  position: absolute;
  top: 44px;
  /* left: 0; */
  width: 270px;
  background: #0b0b0b;
  border-radius: 10px;
  padding: 1px 0;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.85);
  opacity: 0;
  transform: translateY(12px);
  pointer-events: none;
  transition: all 0.25s ease;
  z-index: 999;
}

/* show menu */
.mega-dropdown:hover .mega-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* list reset */
.mega-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* item */
.mega-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 22px;
  color: #cfcfcf;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.25s ease;
  position: relative;
}

.mega-item .arrow {
  opacity: 0;
  transform: translateX(-8px);
  transition: all 0.25s ease;
  color: #f5c400;
  font-size: 14px;
}

.mega-item.active,
.mega-item:hover {
  color: #f5c400;
  background: rgba(255, 255, 255, 0.04);
}

.mega-item:hover .arrow,
.mega-item.active .arrow {
  opacity: 1;
  transform: translateX(0);
}

.mega-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}


/* ================= TOP BADGE ================= */

.about-badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 16px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.6px;
  margin-bottom: 7px;
  ;
  text-transform: uppercase;
  color: #cfa144;
  background: linear-gradient(135deg,
      rgba(207, 161, 68, 0.18),
      rgba(0, 0, 0, 0.85));

  border: 1px solid rgba(207, 161, 68, 0.6);
  border-radius: 8px;

  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.8),
    inset 0 0 0 1px rgba(255, 255, 255, 0.05);
}

/* Optional small dot */
.about-badge::before {
  content: "";
  width: 6px;
  height: 6px;
  background: #cfa144;
  border-radius: 50%;
}

/* Mobile tweak */
@media (max-width: 768px) {
  .about-badge {
    font-size: 12px;
    padding: 5px 14px;
  }
}

/* =================END: TOP BADGE ================= */



/* RESET MODAL */
.reset-modal {
  max-width: 330px;
}

@media (max-width: 576px) {
  .reset-modal {
    max-width: 95%;
    margin: auto;
  }
}

/* SERVICE MODAL */
.service-modal {
  max-width: 35%;
}

@media (max-width: 1200px) {
  .service-modal {
    max-width: 55%;
  }
}

@media (max-width: 992px) {
  .service-modal {
    max-width: 75%;
  }
}

@media (max-width: 576px) {
  .service-modal {
    max-width: 95%;
    margin: auto;
  }
}

/* COMMON GLASS DESIGN */
.reset-modal-content,
.service-modal-content {
  backdrop-filter: blur(20px);
  background: rgba(79, 62, 62, 0.15);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  color: white;
}

/* INPUTS */
.reset-input,
.service-input {
  background: rgba(255, 255, 255, 0.08) !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  color: white !important;
}

.reset-input::placeholder,
.service-input::placeholder {
  color: #ddd;
}

/* CLOSE BUTTON */
.modal .btn-close {
  filter: invert(1);
  right: 12px;
  top: 12px;
  position: absolute;
}

.faq-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

/* FAQ CARD */

.faq-item {
  background: #111;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  border-left: 3px solid transparent;
  transition: all .35s ease;
}

/* HOVER EFFECT */

.faq-item:hover {
  transform: translateY(-4px);
  background: #151515;
}

/* ACTIVE CARD */

.faq-item.active {
  border-left: 3px solid #ff2c2c;
  background: #141414;
  color: #ff2c2c;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

/* ARROW */

.arrow {
  transition: all .35s ease;
  font-size: 14px;
  opacity: .8;
}

.arrow.rotate {
  transform: rotate(180deg);
  color: #ff2c2c;
}

/* ANSWER */

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height .45s ease;
  border-top: 1px solid #222;
}

.faq-answer.show {
  max-height: 220px;
}

.faq-answer p {
  padding: 18px 24px;
  color: #bbb;
  line-height: 1.7;
}

/* MOBILE */

@media(max-width:768px) {
  .faq-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

}

.faq-contact-section {
  /* background:#f4f4f4; */
  background: #111;
  padding: 80px 0;
  color: #222;
}

.faq-contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.faq-contact-text h2 {
  font-size: 34px;
  font-weight: 700;
  color: rgb(108, 94, 94);
  line-height: 1.4;
  margin-bottom: 20px;
}

.faq-contact-text p {
  font-size: 18px;
  color: #ecdada;
  margin-bottom: 25px;
}

.faq-contact-image img {
  width: 100%;
  max-width: 500px;
  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1),
    filter 0.6s ease;
  will-change: transform;
}

.faq-contact-image:hover img {
  transform: scale(1.04) rotate(-1deg) translateY(-6px);
  filter: drop-shadow(0 10px 25px rgba(0, 0, 0, 0.35));
}

@media(max-width:768px) {
  .faq-contact-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .faq-contact-image {
    margin-top: 30px;
  }
}

.cont-btn {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.cont-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms
}

.cont-btn:hover {
  color: #e8e8e8;
}

.cont-btn:hover::before {
  width: 100%;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #25D366;
  color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  z-index: 9999;
  transition: 0.3s;
}

.whatsapp-float:hover {
  background: #1ebe5d;
}

.whatsapp-text {
  margin-left: 8px;
  font-size: 14px;
}
.why-section{
    padding:100px 20px;
    background:#0f0f0f;
    color:white;
    text-align:center;
}

.why-header h2{
    font-size:40px;
    font-weight:700;
}

.why-header span{
    color:#ff3c00;
}

.why-header p{
    max-width:700px;
    margin:15px auto 60px;
    color:#bbb;
}

.why-container{
    max-width:1200px;
    margin:auto;
}

.why-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:30px;
}

.why-card{
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:15px;
    padding:30px;
    position:relative;
    overflow:hidden;
    transition:0.4s;
}

.why-card:hover{
    transform:translateY(-10px);
    border-color:#ff3c00;
}

.why-card::before{
    content:"";
    position:absolute;
    top:-50%;
    left:-50%;
    width:200%;
    height:200%;
    background:linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,0.2),
        transparent
    );
    transform:rotate(25deg);
    opacity:0;
    transition:0.5s;
}

.why-card:hover::before{
    animation:shine 1s;
}

@keyframes shine{
    0%{transform:translateX(-100%) rotate(25deg);}
    100%{transform:translateX(100%) rotate(25deg);}
}

.why-icon{
    font-size:40px;
    margin-bottom:15px;
}

.why-card h3{
    font-size:20px;
    margin-bottom:10px;
}

.why-card p{
    color:#aaa;
    font-size:14px;
}

.why-stats{
    display:flex;
    justify-content:center;
    gap:60px;
    margin-top:80px;
    flex-wrap:wrap;
}

.stat h3{
    font-size:36px;
    color:#ff3c00;
}

.stat p{
    color:#bbb;
}

.review-section {
  background: #000;
  color: #fff;
  padding: 60px;
  text-align: center;
}

.review-section h2 {
  font-size: 34px;
  margin-bottom: 40px;
}

.review-section h2 span {
  color: #ffc107;
}

/* CARD */
.review-card {
  background: #000;
  border: 1px solid #2a2a2a;
  border-radius: 12px;
  padding: 20px;
  height: 180px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-card:hover {
  border: 1px solid #ffc107;
}

.stars {
  color: #ffc107;
  font-size: 14px;
}

.review-card p {
  font-size: 13px;
  color: #ccc;
  line-height: 1.5;
}

.read-more {
  color: #ffc107;
  font-size: 12px;
  cursor: pointer;
  float: right;
}

.review-card h4 {
  font-size: 14px;
  margin-top: 10px;
}

/* arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #ffc107;
}

/* 🔥 MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.review-modal {
  background: #000;
  border: 2px solid #ffc107;
  padding: 40px;
  max-width: 700px;
  text-align: center;
  position: relative;
}

.review-modal .stars.big {
  font-size: 22px;
  margin-bottom: 20px;
}

.review-modal p {
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 20px;
}

.review-modal h4 {
  font-weight: bold;
}

/* close button */
.close {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  font-size: 20px;
}